<html>
   <head>
      <title>Profile</title>
        <meta http-equiv='Content-Type' content='text/html' charset="UTF-8">
      <link
         rel="stylesheet"
         type="text/css"
         href="/static/css/style.css"
      >
      <script type="text/javascript">
        var a = {{ url }};
        // if (a[0] != null) {
        openInNewTab(a[0]);
        // }
        function openInNewTab(url) {
          var win = window.open(
            url,
            '_blank'
          );
          win.focus();            
          }
        }
      </script>
   </head>
  <div class="container">
    <form id="contact" action=/ enctype="multipart/form-data" method="post">
      <h3>View Graph</h3>
      <fieldset>
        <input input type="file" id="file" name="file" multiple="true">
      </fieldset>
        <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
      </fieldset>
    </form>
    <footer>
      <div id="text-author">Luz Stella Cardona Meza</div>
    </footer>
  </div>
</html>
